@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #00c8b0;
    --secondary-color: #344d7f;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    display: flex;
    align-items: center;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.navbar a.act::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--white-color);
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.act {
    color: var(--main-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkIcon {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky #darkIcon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
    box-shadow: 0 1rem 1rem -1rem var(--shadow-color);
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 49rem;
}

.home-content h3 {
    max-width: 44rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    max-width: 44rem;
    font-size: 1.6rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 1.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    border: .2rem solid transparent;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 76.8rem;
    height: 76.8rem;
    max-height: 100vh;
    overflow: hidden;
    pointer-events: none;       
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 13s ease-out infinite;
}

#back-end {
    padding-left: 3rem;
}

#front-end {
    padding-left: 3rem;
}

#editor {
    padding-left: 6rem;
}

@keyframes rotate {
    0%,20% {
        transform: rotate(0deg);
    }
    25%,45% {
        transform: rotate(-90deg);
    }
    50%,70% {
        transform: rotate(-180deg);
    }
    75%,95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2) i,
.home .profession-box .profession:nth-child(4) i {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 38.4rem solid var(--main-color);
    border-right: 38.4rem solid var(--main-color);
    border-bottom: 38.4rem solid var(--main-color);
    border-left: 38.4rem solid transparent;
}

.img-home img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    pointer-events: none;
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    display: none;
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content .btn {
    margin-top: 1rem;
}

.about-content .about-text p {
    font-size: 1.6rem;
}

.about-content .more-text {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.about-content .more-text.show {
    max-height: 100vh;
    transition: max-height 0.5s ease;
}

.about-content .more-text p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content .more-text li {
    list-style-type: none;
    font-size: 1.6rem;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 90%;
    margin-top: 2rem;
}

.services .Icon h3 {
    font-size: 3rem;
}

.services .Icon i {
    font-size: 18rem;
    margin: .5rem;
    color: var(--main-color);
    transition: .5s ease;
}

.services .Icon i:hover {
    transform: scale(1.1);
}

.portfolio {
    padding-bottom: 10rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));    
    color: var(--white-color);
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
    font-size: 2rem;
    color: #333;
    transition: .5s ease;
}

.portfolio-layer i:hover {
    border-radius: 17%;
}

.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
    overflow: hidden;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
}

.testimonial-container .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.603);
}

.testimonial-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}

.testimonial-slide h3 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimonial-slide p {
    font-size: 1.4rem;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    color: var(--main-color);
}

.testimonial-box .swiper-button-next {
    right: 0;
}

.testimonial-box .swiper-button-prev {
    left: 0;
}

.testimonial-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.8);
}

.testimonial-box .swiper-pagination-bullet-active {
    background: var(--main-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--bg-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-icon a:hover {
    outline-color: var(--bg-color);
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--text-color);
}

/* Screan breakpoints */

/* @media (min-width: 1210px) {
    .home {
        height: 100vh;
        min-height: 71.1rem;
    }
    
    .img-home img {
        bottom: -5.7rem;
    }

    #darkIcon {
        position: fixed;
        right: 6rem;
    }
} */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container {
        height: 85.8rem;
    }

    .home .profession-container .profession-box {
        right: -12rem;
        height: 85.8rem;
    }

    .home .profession-container .overlay {
        right: -9rem;
    }

    #back-end {
    padding-left: 3rem;
    }

    #front-end {
        padding-left: 3rem;
    }

    #editor {
        padding-left: 6rem;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .profession-box {
        right: -22rem;
    }

    .home .profession-container .overlay{
        right: -15rem;
    }

    #back-end {
        padding-left: 3rem;
    }

    #front-end {
        padding-left: 3rem;
    }

    #editor {
        padding-left: 6rem;
    }
}

@media (max-width: 991px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .navbar a.act::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -45rem;
    }

    .home .profession-container .overlay {
        right: -35rem;
    }

    .img-home img {
        display: none;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-content .more-text li {
        text-align: left;
    }

    .about h2 {
        text-align: center;
    }

    .services,
    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #darkIcon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.act {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.act {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
            font-size: 2.6rem;
    }

    .home-content h1 {
            font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession-box .profession i {
        margin-bottom: -2.5rem;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-11px, -210px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    #back-end {
        margin-left: 48rem;
        margin-bottom: 17rem;
    }

    #back-end i {
        margin-bottom: 1rem;
    }

    #web-developer i {
        margin-bottom: 1rem;
    }

    #editor {
        margin-right: 26rem;
        padding-right: 3rem;
        padding-left: 2rem;
    }

    .about-img img {
        width: 90vh;
    }

    .services h2,
    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }

    @media (max-width: 617px) {
        .portfolio .portfolio-container {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 450px) {
        html {
            font-size: 50%;
        }

        #darkIcon {
            right: 6rem;
        }

        .home {
            padding-top: 30rem;
        }

        .profession-container {
            display: none;
        }
/* 
        .home .portfolio-box .profession:nth-child(1) {
            transform: rotate(-90deg) translate(-110px, -220px);
        }

        .home .portfolio-box .profession:nth-child(2) {
            transform: rotate(0deg) translate(5px, -335px);
        }

        .home .portfolio-box .profession:nth-child(3) {
            transform: rotate(90deg) translate(-105px, -440px);
        }

        .home .portfolio-box .profession:nth-child(4) {
            transform: rotate(180deg) translate(-210px, -220px);
        }

        #back-end {
            margin-left: 50rem;
            margin-bottom: 17rem;
        }

        #back-end h3 {
            width: 15rem;
        }

        #back-end i {
            margin-bottom: 1rem;
        }

        #web-developer {
            margin-left: 4rem;
            margin-bottom: 5rem;
            margin-right: 8rem;
        }

        #editor {
            margin-right: 30rem;
            padding-right: 3rem;
            padding-left: 2rem;
        }

        #editor i {
            margin-bottom: -2rem;
        } */

        .home-content h1 {
            font-size: 4rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        
        .home-content p {
            padding-bottom: 10rem;
        }

        .about-content h2 {
            display: block;
        }

        .about-img img {
            display: none;
        }

        .about-content h3 {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        .about-content p {
            margin-bottom: 3rem;
        }

        .contact form .input-box input {
            width: 100%;
        }
    }

    @media (max-width: 365px) {

        .iconContainer {
            max-width: none;
        }

        .footer {
            flex-direction: column-reverse;
        }

        .footer p {
            text-align: center;
            margin-top: 2rem;
        }
    }
}
